html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

a {
    left: 25px;
}

.container{
    position: relative;
}

.btn1 {
    position: absolute;
    top: 150px;
    left: 270px;
}

button.btn.btn-dark {
    position: absolute;
    text-align: center;
    height: 50px;
    width: 120px;
    border: 2px solid lightslategray;
}