html,
body {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

a {
    left: 25px;
}

/*
###################
##   Title Web   ##
###################
*/
.title_gtsa{
    padding-top: 70px;
    text-align: center;
    margin-left: -120px;
}

/*
##############################
##   Effect float - Autor   ##
##############################
*/
.ico_credits {
    position: absolute;
    animation: float 3s ease-in-out infinite;
    left: 40px;
    top: 600px;
}

.f-container {
    position: relative!important;
    top: 0px;
    left: 0px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
        box-shadow: 0 25px 15px 0px rgb(0 0 0 / 60%);
        border-radius: 80px;
        transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
/*
##########################
##      Data Fonts      ##
##########################
*/

.textinfo {
    font-size: 17px;
    font-family: 'Asap', sans-serif;
}

div {
    display: block;
}

.text-center {
    text-align: center!important;
    padding-top: 10px;
}

/*
############################
##   Container category   ##
############################
*/
.container{
    position: relative!important;
    top: -70px;
    left: -220px;
}

.subtitle1{
    position: absolute;
    color: white;
    top: 100px;
    left: 270px;
    z-index: 1;
}

.btn1 {
    position: absolute;
    top: 150px;
    left: 270px;
}

.btn2 {
    position: absolute;
    top: 150px;
    left: 410px;
}

.btn3 {
    position: absolute;
    top: 150px;
    left: 550px;
}

.btn4 {
    position: absolute;
    top: 150px;
    left: 690px;
}

.btn5 {
    position: absolute;
    top: 150px;
    left: 870px;
}

.btn6 {
    position: absolute;
    top: 150px;
    left: 1070px;
}


.btn7 {
    position: absolute;
    top: 220px;
    left: 270px;
}

button.btn.btn-dark {
    position: absolute;
    text-align: center;
    height: 50px;
    width: 120px;
    border: 2px solid lightslategray;
}